<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android_serialport_api.sample3"
    android:versionCode="241"
    android:versionName="24.1" >
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <application
        android:icon="@drawable/icon"
        android:label="QUCKPrinter"
        android:name="Application" >
        <activity
            android:label="@string/appName"
            android:name="ConsoleActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		 <activity android:name="android_serialport_api.sample3.SDFileExplorer" >
        </activity>

    </application>

    <uses-sdk android:minSdkVersion="15" />

</manifest>
